asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
beautifulsoup4==4.6.0
bs4==0.0.1
cffi==1.10.0
constantly==15.1.0
cryptography==2.0.3
cssselect==1.0.1
cycler==0.10.0
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
lxml==3.8.0
matplotlib==2.1.0
numpy==1.13.1
pandas==0.20.3
parsel==1.2.0
pyasn1==0.3.4
pyasn1-modules==0.1.4
pycparser==2.18
PyDispatcher==2.0.5
pyOpenSSL==17.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
queuelib==1.4.2
scikit-learn==0.19.0
scipy==0.19.1
Scrapy==1.4.0
service-identity==17.0.0
six==1.10.0
Twisted==17.5.0
w3lib==1.18.0
zope.interface==4.4.2
bson==0.5.0
